{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}
{% block content %}
<h1>О нас:</h1>

<div class="layer3">
    <p align="justify"> Мы молодая Web-студия, которая разрабатывает сайты с 2018 года.
        За эти годы мы выполнили более 20 проектов связанных с разработкой интернет-магазина,
        благодаря чему заработали отличный опыт по созданию сайтов в самых различных
        отраслях деятельности. Основными заказчиками наших услуг являются предста вители
        малого и среднего бизнеса, которые заинтересованы в эффективном и
        недорогом инструменте для бесперебойного потока online продаж. Мы отлично
        разбираемся в специфике и особенностях ведения бизнеса в Интернете независимо
        от продукта, товара или услуги, поэтому наша цель едина — разработать
        для клиента визуально приятный и функциональный для работы инструмент,
        который стабильно будет приносить прибыль.</p>
</div>

<h2>Удобная и функциональная система управления сайтом (СМS)</h2>
<div class="layer3">
    <p align="justify"> Мы знаем, насколько владельцу сайта важна возможность
        эффективно управлять им, оперативно добавлять, удалять и обновлять информацию.
        Очень часто клиенты отказываются от идеи создания сайта из-за боязни
        его администрирования, считая этот процесс сложным, требующим специальных
        навыков. Для своих клиентов, мы разработали простую и удобную систему
        управления, в которой разберется даже «новичок».</p>
</div>
<h2>Разработка сайтов «под ключ»</h2>
<div class="layer3">
    <p align="justify"> Большинство проектов мы выполняем «под ключ». Эффективно
        сайт может функционировать только в том случае, когда технически корректно
        выполнены все этапы работ — от разработки и наполнения, до продвижения и
        раскрутки его в поисковых системах. Очень часто люди заблуждаются, думая,
        что, разработав привлекательный дизайн и подключив его к домену, на них
        обрушится «шквал» звонков и заказов от клиентов. Разработка сайта и его
        запуск — лишь начальный этап на пути развития Интернет-проекта. В большинстве
        своем разработка, наполнение + SEO = оптимальный вариант для перспективного
        развития. Веб-студия предлагает написание уникальных статей для сайта,
        оптимизацию и продвижение сайта, ведение контекстной рекламы.</p>
</div>
<h2>Возможность развития и продвижения сайта</h2>
<div class="layer3">
    <p align="justify"> Время летит, бизнес не стоит на месте, развивается, расширятся,
        меняет свою направленность, что, несомненно, влечет за собой необходимость
        оперативного вмешательства в структуру веб-сайта. Сайты, которые мы разрабатываем,
        легко «надстраивать» необходимым функционалом по доступной цене.</p>
</div>
<h2>Постоянное обновление и развитие с веб-студией</h2>
<div class="layer3">
    <p align="justify"> Мы всегда предугадываем потребности наших клиентов. Постоянное
        взаимодействие с заказчиком, учет его пожеланий и идей позволяют нам не «топтаться»
        на месте, а предлагать свои собственные «ноу-хау», дополнительные клиентские
        сервисы и другой полезный функционал СМS, который обеспечивает максимальное
        удобство работы с ресурсом, ускоряет контакт «продавец-покупатель» и минимизирует
        временные затраты на заказ и оплату товара/услуги на сайте.</p>
</div>
<div class="layer3">
    <p align="justify"> Вы еще думаете, быть веб-сайту или не быть? — Ответ
        однозначный — БЫТЬ! Заходите в наш раздел с «готовыми решениями» и
        выбирайте понравившейся вам дизайн и структуру сайта. Если Вам не
        подошел ни один из предложенных вариантов, звоните в нашу веб-студию
        и мы разработаем индивидуальный дизайн для вашего сайта. Большой поток
        заказов позволяет нам радовать клиентов приятными ценами и продуктивными
        решениями. Поверьте, наши специалисты точно знают, как разработать
        качественный сайт и как его заставить эффективно работать!
</div>


<h2>Ниже вы можете просмотреть наши готовые сайты:</h2>
<div class="layer2">
    <a href="https://ksk.by/">
        <img src="https://sun9-1.userapi.com/impg/yn4kSfgqY9-n5di1dEfkMyajU3jGRLCJ0VrIew/AnDk9uda-B0.jpg?size=300x169&quality=96&sign=0989e6c0dc17271c81753a3aaa447531&type=album"
             alt="https://ksk.by/">
    </a>
    <p align="justify"> ksk.by - строительный итернет-магазин
    </p>
</div>
<div class="layer1">
    <a href="https://tkany.by/">
        <img src="https://sun9-76.userapi.com/impg/-evCfDz4ZD9winbw-pdfnnvlM2YYwQtOTpz2zw/m9qXcWMF-qg.jpg?size=300x169&quality=96&sign=e877580b240a506681abaf32148b9941&type=album"
             alt="https://tkany.by/">
    </a>
    <p align="justify"> tkany.by - магазин ткани и одежды
    </p>
</div>
<div class="layer2">
    <a href="https://vam-svet.by/">
        <img src="https://sun1.beltelecom-by-minsk.userapi.com/impg/7TIbbe8pZN8JrdlnLCnPp0lopAJMGVcdsUFdgg/qZgfFTfER20.jpg?size=300x169&quality=96&sign=73b22d9c7526abd1ff5e8aca20cf1ac3&type=album"
             alt="https://vam-svet.by/">
    </a>
    <p align="justify"> vam-svet.by - интернет-магазин люстр и светильников
    </p>
</div>
<div class="layer1">
    <a href="https://www.delovoy.by/">
        <img src="https://sun9-51.userapi.com/impg/CMM5002TC2qTFEiY0spr_hb3MEPtJydEhmIgvQ/TIINTNGq2qE.jpg?size=300x169&quality=96&sign=ed18b141c0d14d17584349c2146abaec&type=album"
             alt="https://www.delovoy.by/">
    </a>
    <p align="justify"> delovoy.by - канцелярские товары
    </p>
</div>
{% endblock %}
