{% extends 'main/base.html' %}

{% block title %}
Страница про нас
{% endblock %}
{% block content %}

<h1 style="margin-left: 40px">Главная страница</h1>
<h1 style="margin-left: 40px">Перечень наших услуг:</h1>
<div class="layer4">
    <h2 style="margin-left: 40px">Создание интернет-магазина:</h2>
    <p style="margin-left: 40px">Создание интернет-магазина является отличным способом для расширения существующих
        каналов продаж
        и регионального роста для бизнеса. А в большинстве случаев открытие онлайн-магазина и является, по сути,
        запуском
        самого бизнеса для предпринимателя или организации. Мы с радостью готовы разработать интернет-магазин для вашего
        бизнеса!</p>
</div>
<div class="layer4">
    <h2 style="margin-left: 40px">Продвижение сайта:</h2>
    <p style="margin-left: 40px">это комплекс мероприятий, проводимых над сайтом, направленных на улучшение его позиций
        в выдаче поисковых систем в ответ на определенные тематические для ресурса запросы пользователей.
        Результатом качественного продвижения является перемещение сайта в ТОП результатов поиска,
        увеличение посещаемости и рост числа обращений потенциальных клиентов, повышение узнаваемости и улучшение имиджа
        компании.</p>
</div>
<div class="layer4">
    <h2 style="margin-left: 40px">Создание и дальнейшее продвижение интернет-магазина:</h2>
    <p style="margin-left: 40px">Комплексная услуга, совмещающая в себе создание и продвижение
        интернет-магазина. Раскрутка интернет-магазина — это комплекс работ над семантикой,
        технической оптимизацией, навигацией и структурой, наполнение уникальным контентом,
        решение технических аспектов, поэтому эффективное продвижение определяется компетенциями
        и опытом специалиста, выполняющего работы по продвижению.</p>
</div>
{% endblock %}